*{
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Using Unicode character for right arrow */
.custom-bullet {
  list-style-type: none;
}

.custom-bullet li::before {
  content: "→";
  display: inline-block;
  margin-right: 8px; /* Adjust as needed */
  font-size: 14px; /* Adjust the size as needed */
}

/* Using custom SVG icon */
.custom-bullet-svg {
  list-style-type: none;
}

.custom-bullet-svg li::before {
  content: "";
  display: inline-block;
  width: 15px; /* Adjust the width and height as needed */
  height: 12px;
  background: url('./assets/ArrowIcon.svg') no-repeat center; /* Replace 'arrow.svg' with your SVG file path */
  margin-right: 8px; /* Adjust as needed */
}

